* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
main {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
}

.month-body {
    margin: 0 auto;
    margin: 0 2em;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1em 0;
    text-align: center;

}
.list-month {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1em 0;
    padding: .5em 0;
}

.btn {
    padding: 1em 3em;
    margin: 0 .5em;
    border: 0;
    cursor: pointer;
}

.btn.btn-month {
    color: white;
    background-color: #3399ff;
}

.btn-month.active{
    background-color: green;
}

.btn.btn-month.selected{
    box-shadow: 0px 0px 7px #404040;
    border: 1px solid white;
}

.today{
    color: green;
}

.selected {
    color: #3399ff;
}